<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>worker</title>
</head>
<body>
    <form accept-charset="utf-8" action="/worker" method="post">
        <table border="0" align="center">
            <caption><b>学生列表</b></caption>
            <tr>
                <td>
                    <input type="text" value="姓名"/>
                </td>
                <td>
                    <input type="text" value="年龄"/>
                </td>
                <td>
                    <input type="text" value="性别"/>
                </td>
                <td>
                    <input type="text" value="操作"/>
                </td>
            </tr>
            <tr>

                <td>
                    <input type="button" id="insert" value="添加"/>
                    <input type="button" id="delete" value="删除" />
                    <input type="button" id="update" value="修改" />
                </td>
            </tr>
        </table>

    </form>

</body>
</html>